@font-face {
    font-family : 'Comfortaa';
    src         : url('../fonts/comfortaa/Comfortaa-Bold.ttf');
    font-weight : 700;
    font-style  : normal;
}

@font-face {
    font-family : 'Comfortaa';
    src         : url('../fonts/comfortaa/Comfortaa-Light.ttf');
    font-weight : 300;
    font-style  : normal;
}

@font-face {
    font-family : 'Open Sans';
    src         : url('../fonts/Open Sans/OpenSans-Regular.ttf');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'Open Sans';
    src         : url('../fonts/Open Sans/OpenSans-Light.ttf');
    font-weight : 300;
    font-style  : normal;
}

@font-face {
    font-family : 'Open Sans';
    src         : url('../fonts/Open Sans/OpenSans-Semibold.ttf');
    font-weight : 500;
    font-style  : normal;
}

@font-face {
    font-family : 'Open Sans';
    src         : url('../fonts/Open Sans/OpenSans-Bold.ttf');
    font-weight : 700;
    font-style  : normal;
}
