html,body {
    height: 100%;
}

.page.-intro {
    @include gradient-y(#71BA51, #00B16A);
    // background : #71BA51;
    color      : #fff;

    box-sizing : border-box;
    min-height : 100%;
    // padding-bottom : ratio(2);
}

.-page-intro.description {
    padding-top: ratio(4);
    padding-bottom: ratio(3);
    // padding-top: 15%;
}

.screenshot.-page-intro {
    padding-top : ratio(4);
    width       : 100%;
    max-width   : 100%;
}

.-page-intro.image--container {
}

.-page-intro.title {
    font-size   : ratio(4);
    font-family : $font-family-sans-serif2;
    font-weight : 700;
}

.-page-intro.title--description {
    font-size   : ratio(2);
    font-family : $font-family-sans-serif;
}

.btn--group.-page-intro {
    margin-top: ratio(2);
}

.page.-features {
    // min-height  : 100%;
    // align-items : center;
    // display     : flex;

    padding-top    : ratio(5);
    padding-bottom : ratio(5);

    &.-one {
        background : #fff;
        color      : $color-blue;

        .image.-page-features g#google-nexus-5 {
            fill: #303030;
        }
    }

    &.-two {
        background : #3D8EB9;
        @include gradient-y(#4ECDC4, #19B5FE);
        color      : #fff;
    }

    &.-small {
        min-height     : auto;
        padding-top    : ratio(2);
        padding-bottom : ratio(1);
        background     : lighten(#E4F1FE, 3);
    }
}

.image.-page-features {
    margin-top : ratio(0);
    width      : 100%;
    max-width  : 100%;
}

.image--container.-page-features {
    // display     : flex;
    // align-items : center;
}

.heading.-page-features {
    margin-top  : ratio(0);
    font-family : $font-family-sans-serif2;
    font-weight : 300;
    font-size   : ratio(2);

    &.-small {
        // padding-bottom : ratio(1);
        font-family    : $font-family-sans-serif;
        font-variant   : small-caps;
        font-weight    : 400;
        font-size      : ratio(1);
        color          : #34495e;
    }
}

.icon.-page-features.-small {
}

.text.-page-features {
    margin-top  : ratio(0);
    font-family : $font-family-sans-serif;
    font-weight : 300;
    font-size   : ratio(0);
}

.page.-download {
    padding-top    : ratio(4);
    padding-bottom : ratio(4);
    background     : #fff;
}

.heading.-page-download {
    margin-top     : ratio(0);
    padding-bottom : ratio(0);

    font-family : $font-family-sans-serif2;
    font-weight : 300;
    font-size   : ratio(2);
    text-align  : center;
}

.link.-download {
    background : #34495e;
    transition : background .2s ease-in-out;
    color      : #fff;

    display         : block;
    text-align      : center;
    text-decoration : none;
    margin-bottom   : ratio(0);
    padding         : ratio(1) ratio(0);

    &:hover {
        background      : darken(#34495e, 15);
        color           : #fff;
        text-decoration : none;
    }
}

.card-block.-feature {
    background-color : transparent;
    border-color     : transparent;
    padding-left     : 0;
}

/**
 * Sponsors page.
 */
.page.-sponsors {
    padding-top    : ratio(4);
    padding-bottom : ratio(3);
}

.sponsor--media {
    border-top  : 1px solid lighten(#ccc, 14%);
    padding-top : 1.5rem;

    &:last-child {
        border-bottom  : 1px solid lighten(#ccc, 14%);
        padding-bottom : 1.5rem;
    }
}

.sponsor--img {
    width  : ratio(2.5);
    height : ratio(2.5);
}

.sponsor--media {
    margin-bottom: ratio(1);
}

.heading.-page-sponsor {
    @extend .-page-features;
    margin-top: 0;
}
