
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-gmail:before { content: '\e803'; } /* '' */
.icon-email:before { content: '\e804'; } /* '' */
.icon-linux:before { content: '\e805'; } /* '' */
.icon-windows:before { content: '\e806'; } /* '' */
.icon-apple:before { content: '\e807'; } /* '' */
.icon-ok-squared:before { content: '\e808'; } /* '' */
.icon-keyboard:before { content: '\e809'; } /* '' */
.icon-user-secret:before { content: '\e80a'; } /* '' */
.icon-users:before { content: '\e80b'; } /* '' */
.icon-file-code:before { content: '\e80c'; } /* '' */
.icon-export:before { content: '\e80d'; } /* '' */
.icon-globe:before { content: '\e80e'; } /* '' */