<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Laverna - keep your notes private</title>
        <meta name="description" content="Markdown note taking app focused on privacy.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <nav id="header" class="navbar navbar-dark navbar-full">
            <div class="container">
                <a class="navbar-brand" href="https://laverna.cc">
                    <img src="images/logo.svg" alt="" class="navbar--logo"/>
                </a>

                <ul class="nav navbar-nav pull-xs-right">
                    <li class="nav-item">
                        <a href="/" class="nav-link">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="/sponsors.html#sponsors" class="nav-link">SPONSORS</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/Laverna/laverna" class="nav-link">GITHUB</a>
                    </li>
                </ul>
            </div>
        </nav>

        <section id="intro" class="page -intro">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 -page-intro description">
                        <h1 class="-page-intro title">Laverna</h1>
                        <h2 class="-page-intro title--description">Keep your notes private</h2>
                        <div class="btn--group -page-intro">
                            <a class="btn -page-intro -start" href="/app">Start using now</a>
                            <a class="btn -page-intro -download" href="/#download">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% block content %}{% endblock %}

        <hr>
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 text-xs-center text-sm-left">
                        <h1 class="heading -footer">
                            <a href="https://laverna.cc" class="heading -footer">
                                Laverna
                            </a>
                        </h1>
                        <p>Markdown note taking app focused on privacy.</p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="row pull-sm-right">
                            <div class="col-xs-12 icons -footer text-xs-center text-sm-right">
                                <a title="Follow us on Twitter #lavernaApp" target="blank" href="https://twitter.com/lavernaApp" class="icon -footer"><i class="icon-twitter"></i></a>
                                <a title="Star us on Github or contribute" target="blank" href="https://github.com/Laverna/laverna" class="icon -footer"><i class="icon-github-circled"></i></a>
                                <a title="Contact us if you have any questions" href="mailto:lavernaproject@gmail.com" class="icon -footer"><i class="icon-email"></i></a>
                            </div>
                            <p class="col-xs-12 text-xs-center text-sm-right">Spread the word about Laverna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>
